### IntelliJ ###
.idea/
*.iml
*.ipr
*.iws
out/

### Java ###
*.class
*.log
*.jar
*.war
*.ear
hs_err_pid*

### Build ###
# Gradle
.gradle/
build/

# Maven
target/

### OS ###
.DS_Store
Thumbs.db

### Project ###
# Uncomment if JSON files contain generated/sensitive data
db/
*.json
model/
src/main/java/org/example/Main.java
